<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.erotsx.blog.dao.SysRoleMapper">
    <insert id="insertPermissionRelation">
        insert into blog_sys_role_permission (role_id, permission_id) values
        <foreach collection="permissionIdList" item="permissionId" separator=",">
            (#{id},#{permissionId})
        </foreach>

    </insert>
    <delete id="deletePermissionRelation">
        delete
        from blog_sys_role_permission
        where role_id = #{id}
    </delete>


    <select id="selectByUserId" resultType="com.erotsx.blog.entity.SysRole">
        select id, name, description, create_date, status
        from blog_sys_role
        where id = (select role_id
                    from blog_sys_user_role
                    where user_id = #{id})
    </select>
</mapper>